<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Food Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="/"><h1>Mario's Food Store</h1></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </header>
    <main>
      <div class='container'>
        <%= flash[:alert]%>
        <%= flash[:notice]%>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
